<h3>Angel Tour</h3>
<a th:text="${tour.countryName}"/> has <a th:text="${#lists.size(tour.neighbors)}"/>
neighbor countries (
<a th:object="${tour.neighbors}">
    <span th:each="n :${tour.neighbors}">
    <a th:text="${n}"/>
    </span>
</a>
) and Angel can travel around them <a th:text="${tour.tourCounts}"/> times. He will have
<a th:text="${tour.leftover.amount}"/>  <a th:text="${tour.leftover.currencyCode}"/> leftover.
<a th:object="${tour.neighborCountryMoney}">
    <div th:each="nc :${tour.neighborCountryMoney}">
        For <a th:text="${nc.countryName}"/> he will need to buy <a  th:text="${nc.tourMoney.amount}"/> <a  th:text="${nc.tourMoney.currencyCode}"/>.
    </div>
</a>
